root = true

[*]
charset = utf-8
end_of_line = lf

[*.nix]
indent_style = space
indent_size = 2

[*.bash]
indent_style = space
indent_size = 4

[*.md]
indent_style = space
indent_size = 4

[APKBUILD]
indent_style = tab
indent_size = 8
trim_trailing_whitespace = true

[Makefile]
indent_style = tab
indent_size = 4
